/* Primary challenge design file */

@import url("/styles/presets.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors provided from the Figma design file */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  /* Spacings specified in the Figma design file */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-300: 24px;
}

body {
  background-color: var(--yellow);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  background-color: var(--white);

  width: 327px;
  height: fit-content;

  padding: var(--spacing-300);

  border: 1px solid var(--gray-950);
  border-radius: var(--spacing-300);

  filter: drop-shadow(8px 8px var(--gray-950));

  .blog-image {
    height: 200px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .blog-category {
    width: fit-content;
    padding: 4px 12px;
    background-color: var(--yellow);
    border-radius: 4px;
  }

  p .publish-date {
    /* Placeholder */
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .blog-title {
    /* Placeholder */
  }

  .blog-description {
    color: var(--gray-500);
  }
}

.card-author {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 12px;

  width: 100%;

  img {
    width: 32px;
  }
}
