/* Primary challenge design file */

@import url("/styles/presets.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors provided from the Figma design file */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  /* Spacings specified in the Figma design file */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-300: 24px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spacing-300);

  border-radius: 24px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 24px;

  background-color: var(--white);
  width: fit-content;
  height: fit-content;
}

.blog-content {
  .blog-category {
    /* Placeholder */
  }

  p .publish-date {
    /* Placeholder */
  }

  .blog-description {
    /* Placeholder */
  }

  .blog-title {
    /* Placeholder */
  }

  .blog-description {
    /* Placeholder */
  }
}

.card-author {
  /* Placeholder */
}
