/* Primary challenge design file */

@import url("/styles/presets.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors provided from the Figma design file */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  /* Spacings specified in the Figma design file */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-300: 24px;
}

body {
  background-color: var(--yellow);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  background-color: var(--white);
  width: 327px;
  height: fit-content;

  padding: var(--spacing-300);

  border-radius: var(--spacing-300);
  .blog-image {
    max-width: 279px;
    border-radius: 10px;
  }
}

.blog-content {
  .blog-category {
    /* Placeholder */
  }

  p .publish-date {
    /* Placeholder */
  }

  .blog-description {
    /* Placeholder */
  }

  .blog-title {
    /* Placeholder */
  }

  .blog-description {
    /* Placeholder */
  }
}

.card-author {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 32px;
  }
}
